/*********************/
/* layout.css       */
/* layout elements */
/******************/

/* wafting fog overlay */
#fog {
	position: absolute;
	opacity: 0.8;
	z-index: 5;
	animation: wafting-fog 120s linear infinite alternate;
}

/* cracked earth background image */
#bg-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 100%;
	object-fit: cover;

	opacity: 0.9;
	filter: brightness(0.5);
	transition: filter 3s ease-in;
	box-shadow: inset 0 0 100px black;
	z-index: 1;
}

.fade-out {
	filter: brightness(0.1) !important;
}

/************************************************/

/* status HUD at bottom */

#menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	bottom: 0px;
	width: calc(100% - 40px);
	height: 3rem;

	padding: 5px 20px;
	background-color: black;
	opacity: .95;
	z-index: 111;

	font-size: 1.5rem;
	color: white;
}

#count-container,
#score-container,
#time-container,
#health-container {
	text-align: center;
	width: 20%;
}

#health-container {
	color: red;
}

#health {
	color: #15d600;
}

/************************************************/

/* game over modal */

#modal {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	width: calc(65% - 40px - 15px);
	height: calc(40% - 40px - 15px);
	position: absolute;
	left: calc(25% - 20px);

	padding: 20px;
	border: 7.5px solid black;
	border-radius: 20px;

	color: white;
	background-color: #161616;
	filter: drop-shadow(0 0 49px black);
	opacity: .9;
	z-index: 11111;

	text-align: center;
}

#modal button {
	padding: 10px 40px;
	border-radius: 10px;
	color: white;
	background-color: #BB0D0D;
	transition: background-color .5s ease-in;
}

#modal button:hover {
	background-color: #E11C1C;
}

/************************************************/